This notebook provides practice problems associated with lesson 2. It is divided into several parts:
* **Part 1** - most approachable place to start.  Practices syntax and concepts
* **Part 2** - a step up from part 1.  Integrates concepts from accross the lesson in more applied scenarios

# Practice Problems Part 1

## Lists

1. Create a list with 4-6 items that represents some foods.

2. Create a list which contains some fake data, for example relative humidity measurements. Include a print statement which displays `Number of samples is: x` where `x` is calculated based on the number of items in your list.

3. üêû Debugging: Find and fix the error in the following block of code.

In [2]:
pollutants = ['co" 'co2', 'no2', 'o3']

SyntaxError: invalid syntax (<ipython-input-2-1d22d87ab71b>, line 1)

### Indexing

4. For each of the bullets print out the colors from the `colors` list using indices.
* red
* your favorite color
* blue, yellow, white (together)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']

5. üêû Debugging: The goal of the following block of code is to print out the value `o3`.  Find and fix the error.

In [7]:
pollutants = ['co', 'co2', 'no2', 'o3']
print(pollutants[4])

IndexError: list index out of range

### Functions/Methods

6. Returning to our list of pollutants, let's say we learned that `no2` is the wrong value.  Instead we want that item to be `nox`.  Update the pollutants list below so the output is `['co', 'co2', 'nox', 'o3']`.

In [ ]:
pollutants = ['co', 'co2', 'no2', 'o3']

7. [This article](https://towardsdatascience.com/python-list-methods-fa7c53010300) linked in the lecture describes a few common list methods.  Scroll down to where the article talks about `sort()` and apply that to our `pollutants` list.  Sort first forward and then in reverse, alphabetically.

## Dictionaries

8. Create a dictionary that has an item for each of the last 4 days and displays the weather condition on each of those days.

9. Using the dictionary you made in the previous question:
* print all the keys
* print all the values
* pick one specific key and print its value

10. üêû Debugging: Find and fix the error in the following block of code.

In [13]:
metadata = {
    'location': 'Nairobi', 
    'quality_flag': 5
    'zenith': 60, 
    'clouds': True,
    'data_center': ['LPDAAC', 'ASDC'],
}

SyntaxError: invalid syntax (<ipython-input-13-4d50fa6ccc43>, line 4)

11. üêû Debugging: The goal of the following block of code is to print out the keys of the dictionary `metadata`. Find and fix the error.

In [12]:
metadata = {
    'location': 'Nairobi', 
    'quality_flag': 5,
    'zenith': 60, 
    'clouds': True,
    'data_center': ['LPDAAC', 'ASDC'],
}
print(metadata.keys)

<built-in method keys of dict object at 0x7ffe4794eb40>

### Adding or changing items

12. Using the following dictionary change the value for `state` to `PA`.

In [3]:
census_block7 = {
    'state': 'NY',
    'block_groups': ['01', '02', '03', '04'],
    'median_education': 'some_bachelors',
    'total_housing_units': 9329432,
}

13. Using the `census_block7` dictionary add the value 78.2 for a new item called `employment_rate`.

## Data Structures

Come up with 1-2 fake datasets that make sense as a list and type out an example list.  Do the same for 1-2 dictionaries.

In [ ]:
# Example
max_daily_temperatures_NYC = [56, 50, 49, 49, 60]

# Practice Problems Part 2

Assign the value of a dictionary to another variable

#### Question 1

The list below represents the smallest size of [particulate matter (PM)](https://www.epa.gov/pm-pollution/particulate-matter-pm-basics#:~:text=PM%20stands%20for%20particulate%20matter,seen%20with%20the%20naked%20eye.) measured in a series of air samples.  Find the number of occurances of PM2.5 and PM10 in the list.  (One of the methods from the [list methods article](https://towardsdatascience.com/python-list-methods-fa7c53010300) could be a good place to start).

In [1]:
pm_levels = ['PM1', 'PM2.5', 'PM1', 'PM10', 'PM10', 'PM10', 'PM2.5', 'PM10', 'PM1', 'PM2.5']

#### Question 2
One very common practice in dictionaries is called nesting.  **Nesting** is the practice of putting one data structure inside of another data structure.  So a _nested dictionary_ is a dictionary inside of another dictionary.

<img src="https://i.pinimg.com/originals/a0/40/4b/a0404bf8ec04d32660aee70ecca5055b.gif" align="left">

In [10]:
state_info = {
    'state': 'AK',
    'motto': 'north to the future',
    'num_of_counties': 29,
    'population': {
        'ages_0_25': 28393,
        'ages_25_50': 25920,
        'ages_over_50': 8943,
        }
}

**A)** Print out the following pieces of information from the dictionary above:
* the motto
* the population ages 25 to 50

**B)** Change the population ages 0 to 25 to 98988

**C)** Add a new age bracket to the population dictionary by adding an additional item: `ages_50_75` with the population 3333.  Change the item `ages_over_50` to be renamed `ages_50_75`.

#### Question 3
Another common example of nested objects is a list of dictionaries.  Below we have the same nested dictionary as in question two, but we have a list of three states' data.

In [11]:
census_by_state = [
    {
        'state': 'AK',
        'motto': 'north to the future',
        'num_of_counties': 29,
        'population': {
            'ages_0_25': 28393,
            'ages_25_50': 25920,
            'ages_over_50': 8943,
            }
    },
    {
        'state': 'FL',
        'motto': 'in god we trust',
        'num_of_counties': 67,
        'population': {
            'ages_0_25': 382933,
            'ages_25_50': 483923,
            'ages_over_50': 938923,
            },
    },
    {
        'state': 'MN',
        'motto': 'letoile du nord',
        'num_of_counties': 87,
        'population': {
            'ages_0_25': 39323,
            'ages_25_50': 109282,
            'ages_over_50': 92837,
        },
    },
]

**A)** Print the following population numbers:
* population ages 25-50 in Alaska
* number of counties in Florida
* population ages 0-25 in Minnesota
* motto of alaska

**B)** Change:
* the population over age 50 in florida to 8898
* the motto of minnesota to "go pack go!"
* the number of counties in alaska to 31

**C)** Add a new state to the list of dictionaries.  Pick whatever state and values you want.

#### Question 4
Using the list of values below create new lists made up of the following chunks:
* The first 5 items in the list
* The middle third of the list items
* The first 3 items and the last 3 items together

_**Hint** Googling suggestions: "python list indexing", or "combining two python lists".  Article suggestions [here](https://railsware.com/blog/python-for-machine-learning-indexing-and-slicing-for-lists-tuples-strings-and-other-sequential-types/#Slice_Notation) or [here](https://www.w3schools.com/python/gloss_python_join_lists.asp)._

#### Question 5
Write some code that starts with an index and returns the value from the list below at that index.  Print the value  Include in the print statement if the value is even or odd.

In [12]:
starting_data = [4, 6, 4, 1, 3, 4, 6, 9, 8, 7, 6, 5, 5, 3, 2]
index = 3
# Your code here