In [1]:
import pandas as pd

In [17]:
air_quality = pd.DataFrame(
    {
        'date': ['2022-03-21', '2022-03-23', '2022-03-25', '2022-03-28', '2022-03-30'],
        'day': ['Monday', 'Wednesday', 'Friday', 'Monday', 'Wednesday'],
        'AOD': [0.01, 0.01, 0.015, 0.2, 0.13],  
        'relative_humidity': [0.2, 0.37, 0.19, 0.6, 0.55],
        'error_flag': [False, False, True, False, False],
    }
)

In [19]:
air_quality.set_index('date').loc['2022-03-28']

day                  Monday
AOD                     0.2
relative_humidity       0.6
error_flag            False
Name: 2022-03-28, dtype: object

In [9]:
air_quality.groupby(air_quality['AOD'] > 0.1).mean()

            AOD  relative_humidity  error_flag
AOD
False  0.011667           0.253333    0.333333
True   0.165000           0.575000    0.000000

In [13]:
air_quality[air_quality["relative_humidity"] > 0.4]

        day   AOD  relative_humidity  error_flag
3  Thursday  0.20               0.60       False
4    Friday  0.13               0.55       False